body {
    background-size: cover;
    }
    
    #number_of_objects,#status,#start
    {
    font-size: 18px;
    }
    
    .heading{
        font-size: 23px;
        width:100%;
        margin: 0;
    }
    
    canvas{
        border: 2px solid white;
        border-radius: 10px;
        box-shadow: 5px 5px 5px white;
        margin-top: 65px;
        margin-top: 150;
    }

    #ob{
        text-align: center;
    }